/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: auto; /* Ensure the app takes up full viewport height */
}
/* Basic CSS */
.shop {
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.product-card img {
  width: 100%;
  height: auto;
}
.product-page img {
  width: 100%;
  max-width: 200px;
}
.login-dialog {
  position: fixed;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
}

