/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: auto; /* Ensure the app takes up full viewport height */
}

