@font-face {
  font-family: "Iskry";
  src: url("/assets/fonts/iskry-one-test.otf") format("opentype"),
       url("/assets/fonts/iskry-two-test.otf") format("opentype"),
       url("/assets/fonts/iskry-three-test.otf") format("opentype");
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne-Leicht.woff2") format("woff2"),
       url("/assets/fonts/Sohne-Leicht.woff") format("woff");
}

h1, h2 {
  font-family: "Iskry", 'Segoe UI', Tahoma, sans-serif;
}

p {
  font-family: "Sohne", Tahoma, sans-serif;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the text color from the parent element */
}

.animated-section {
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

.introsection {
  background-color: black;
  padding: 4vh 0;
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  border: 1px solid white;
}

.intro {
  max-width: 800px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: white;
  justify-content: center;
}

.intro p:first-of-type {
  margin-bottom: 60px; /* Adjust the value as needed */
}

.project {
  border: 1px solid white;
  background-color: black;
  height: 80px; /* Fixed height for the project title */
  justify-content: center;
  color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.card {
  background-color: black;
  border: 1px solid white;
  margin: 0 0;
  /* background-color: beige; */
  padding: 20px;
  position: sticky;
  top: 80px; /* Card sticks below the project div */
}

.project-details {
  text-align: left;
  margin-bottom: 20px;
  color: white;
}

.project-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.see-full-project {
  font-size: 16px;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid white;
  padding: 5px;
  font-family: "Sohne", Tahoma, sans-serif;
}

.see-full-project:hover {
  background-color: rgb(177, 179, 181);
}

.gallery {
  display: flex;
  overflow-x: auto;
  padding-top: 10px;
}

.gallery-image {
  height: 500px;
  margin-right: 10px;
  border: 1px solid black;
}
