@font-face {
    font-family: "Iskry";
    src: url("/assets/fonts/iskry-one-test.otf") format("opentype"),
         url("/assets/fonts/iskry-two-test.otf") format("opentype"),
         url("/assets/fonts/iskry-three-test.otf") format("opentype");
}
  
@font-face {
    font-family: "Sohne";
    src: url("/assets/fonts/Sohne-Leicht.woff2") format("woff2"),
         url("/assets/fonts/Sohne-Leicht.woff") format("woff");
}


/* Slideshow Container */
.slideshow-container {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

/* Centered Logo */
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.logo {
    width: auto;
    height: auto;
    max-width: 40vw;
    color: black;
    filter:brightness(0)
}
.logo:hover {
    filter: brightness(1);
}

/* Slideshow Image */
.slides {
    width: 100%; /* Or specify a specific width */
    height: 100%; /* Or specify a specific height */
    overflow: hidden; /* Ensures no overflow if the image aspect ratio is different */
    align-items: center;
    justify-content: center;
    
}
.slides img {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    
}

/* Quadrant 3: Social Media Icons and Texts */
.social-media {
    position: absolute;
    left: 2%;
    bottom: 3%;
    display: flex;
    gap: 13px;
}

.icon-with-text {
    display: flex;
    align-items: center;
   
}

.social-icon {
    font-size: 25px;
    color: white;
    transition: color 0.3s ease;
    align-items:first baseline;

}
.social-media a[href*="facebook.com"] .social-icon {
    font-size: 22px;
}


.social-icon:hover{
  color: #555555;
}

/* Quadrant 1: Navigation Links */
.nav-links {
    position: absolute;
    top: 5%;
    right: 2%;
    max-width: 10vw;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-bottom: 10px; /* Space between each link */
    text-align: center;
}

.nav-links a {
    font-size: 18px; /* Set text size to 1.25rem */
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: white;
    font-family: "Iskry", 'Segoe UI', Tahoma, sans-serif;
    transition: color 0.3s ease;
    display: block; /* Ensure each link takes up the full width of the container */
}

.nav-links a:hover {
    color: #555555;
}

.nav-links a:hover .arrow {
    color: #555555;
}
/* Mobile view adjustments */
@media (max-width: 500px) {
    /* Slideshow Container */
    
    /* Centered Logo */
    .logo {
        max-width: 100vw; /* Adjust the logo size */
    }

    /* Social Media Icons */
    .social-media {
        left: 3%;
        bottom: 3%;
        gap: 10px;
    }

    .social-icon {
        font-size: 20px; /* Smaller icons for mobile */
    }
    .social-media a[href*="facebook.com"] .social-icon {
        font-size: 17px;
    }

    /* Navigation Links */
    .nav-links {
        top: 2%;
        right: 8%;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 1px; /* Adjust spacing between links */
    }

    .nav-links a {
        font-size: 20px; /* Reduce text size */
    }
}


