/* Slideshow Container */
.slideshow-container {
    position: relative;
    width: 100%; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  /* Slides - ensure each slide takes up full space */
  .slides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slides img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    animation: slideShow 9s infinite;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slides img:nth-child(1) {
    animation-delay: 0s;
  }
  
  .slides img:nth-child(2) {
    animation-delay: 3s;
  }
  
  .slides img:nth-child(3) {
    animation-delay: 6s;
  }
  
  @keyframes slideShow {
    0%, 33% {
      opacity: 1;
    }
    44%, 100% {
      opacity: 0;
    }
  }
  
  /* Center the logo in the middle of the slideshow */
  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .logo {
    width: auto;
    height: auto;
  }
  
  nav {
    width: 100%;
    background-color: white;
  }
  
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }
  
  .relative {
    position: relative;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .border-b {
    border-bottom: 1px solid black;
  }
  