@font-face {
  font-family: "Iskry";
  src: url("/assets/fonts/iskry-one-test.otf") format("opentype"),
       url("/assets/fonts/iskry-two-test.otf") format("opentype"),
       url("/assets/fonts/iskry-three-test.otf") format("opentype");
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne-Leicht.woff2") format("woff2"),
       url("/assets/fonts/Sohne-Leicht.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.work-container {
  
}

.grid_ {
  display: grid;
  flex-wrap: wrap;
  justify-content: center; /* Center the grid items */
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  grid-template-rows: repeat(auto-fill, 1fr); /* Rows automatically fill with equal height */
  gap: 20px;
  padding: 3vw 0; /* Padding for centering the grid */
  margin: 0 auto; /* Center the grid horizontally */
}

.grid-item {
  width: calc(33.33% - 20px); /* Three items per row with spacing */
  margin: 10px; 
  position: relative;
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  aspect-ratio: 1 / 1; /* Ensure images are always square */
  object-fit: cover;
  transition: transform .3s ease-in-out; /* Smooth zoom on hover */
}

.photo-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: left;
  padding: 3vh 1vw;
  font-weight: 999;
  
}
.photo-info h4 {
  font-size: 25px;
  font-family: "Iskry", 'Segoe UI', Tahoma, sans-serif;
}
.photo-info p{
  font-size: 15px;
  font-family: "Sohne", Tahoma, sans-serif;
}

.grid-item:hover .photo {
 transform: scale(1.1); /* Zoom in on hover */
}

.grid-item:hover .photo-info {
 opacity: 0; /* Hide text on hover */
}

.grid-item .photo-info {
 opacity: 1; /* Show text when not hovered */
 transition: opacity .3s ease-in-out; /* Smooth fade in/out */
}